<!doctype html>
 <html>
  <head>

   <title></title>

   <meta charset='utf-8'>
   <meta content='' name='author'>
   <meta content='' name='description'>
   <meta content='' name='application-name'>
   <meta content='notranslate' name='google'>
   <meta content='telephone=no,address=no,email=no,date=no,url=no' name='format-detection'>
   <meta content='noimageindex,notranslate,nosnippet,noarchive,nofollow,noindex' name='robots'>
   <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>

   <link href='css/fomantic-ui/2.7.8.min.css' rel='stylesheet'>
   <link href='asset/manifest.json' rel='manifest'>
   <link href='asset/favicon.ico' rel='icon'>

   <style name='font'>
    @font-face{
     font-family:'M+2VM+IPAG circle';
     src:url('asset/m+2vm+ipag-circle.ttf');
    }
  </style>
   <style>
     html,
     body{
       font:12px 'M+2VM+IPAG circle';
     }
     body{
       display:flex;
       align-items:center;
       justify-content:center;
     }
     main{
       width:100mm;
     }
     .ui.label{
       border-bottom: 1px solid rgba(34,36,38,.15) !important;
       box-shadow: rgba(16, 36, 94, 0.4) 0 1px 2px 0 !important;
     }
     .ui.segments>.ui.labels{
       position:absolute;
       text-align:left;
       z-index:-999;
       left:-4.2em;
       width:100%;
       top:-1em;
    }
     .ui.table>thead>tr>th,
     .ui.table>tbody>tr>td{
       padding:0;
     }
     .ui.table>thead>tr>th:first-child,
     .ui.table>tbody>tr>td:first-child{
       width:3em;
       text-align:center;
     }
     .ui.table>tbody>tr:hover{
       -webkit-box-shadow: 0 0 0 #a3c293 inset;
       box-shadow: 0 0 0 #a3c293 inset;
       background: #fcfff5;
       color: #2c662d;
       cursor:pointer;
    }
  </style>
   <style name='dat-gui'>
     .dg.main{
       width:100% !important;
     }
     .dg.main .close-button{
       display:none;
     }
     .dg.main select{
       width:100%;
     }
     .dg .cr.string input[type=text] {
       color:black !important;
     }
  </style>
 </head>
  <body>
   <main>

     <div class='ui labels black'>
       <div class='ui label' @click='deleteBooks'>
         消去
      </div><div class='ui label'>
         PDF  
      </div>
    </div>

     <div class='ui segments'>
       <div class='ui labels'>
         <div class='ui label right pointing black'>
           検索
        </div>
      </div>
       <div class='ui segment fitted'>
         <dat-gui>
           <dat-value v-model='search.name' label='書名 (EN)'></dat-value>
           <dat-value v-model='search.isbn' label='ISBN (13 or 10)'></dat-value>
           <dat-value v-model='search.size' label='種類' :accepted-values="['folio','quarto','Imperial octavo', 'Super octavo','Royal octavo','Medium octavo','octavo','Crown octavo','duodecimo or twelvemo','sextodecimo or sixteenmo','octodecimo or eighteenmo','trigesimo-secundo or thirty-twomo','quadragesimo-octavo or forty-eightmo','sexagesimo-quarto or sixty-fourmo']"></dat-value>
       </dat-gui>
      </div>
    </div>

     <div class='ui segments'>
       <div class='ui segment fitted'>
         <table class='ui table single line unstackable celled fixed very basic'>
           <thead>
             <tr>
              <th>NO</th>
              <th>書名</th>
              <th>ISBN</th>
              <th>種類</th>
            </tr>
          </thead>
           <tbody>
            <template v-for='(book,no) in filteredBooks'>
              <tr @click='selectBook(book.timestamp)' :class="[{'positive':edit.timestamp == book.timestamp}]">
               <td>{{no+1}}</td>
               <td>{{book.name}}</td>
               <td>{{book.isbn}}</td>
               <td>{{book.size}}</td>
             </tr>
           </template>
          </tbody>
        </table>
      </div>
    </div>

     <div class='ui segments'>
       <div class='ui labels'>
         <div :class="['ui label right pointing green',modeColor[mode]]">
           情報
        </div>
      </div>
       <div class='ui segment fitted'>
         <dat-gui>
           <dat-value v-model='book.name' label='書名 (EN)' ref='focus'></dat-value>
           <dat-value v-model='book.isbn' label='ISBN (13 or 10)'></dat-value>
           <dat-value v-model='book.size' label='種類' :accepted-values="['folio','quarto','Imperial octavo', 'Super octavo','Royal octavo','Medium octavo','octavo','Crown octavo','duodecimo or twelvemo','sextodecimo or sixteenmo','octodecimo or eighteenmo','trigesimo-secundo or thirty-twomo','quadragesimo-octavo or forty-eightmo','sexagesimo-quarto or sixty-fourmo']"></dat-value>
       </dat-gui>
      </div>
    </div>

     <template v-if='hasBookError'>
       <div class='ui label fluid green' v-if='hasBookError'>
         {{book.error}}
      </div>
    </template>
     <template v-else>
       <button :class="['ui label icon green',modeColor[mode]]" @click='action'>
         {{modeDetail[mode]}}
      </button><button class='ui label icon pink' @click='delBook' v-if="mode == 'editBook'">
         削除
      </button>
    </template>
  </main>
 </body>
</html>
 <!-- native -->
 <script src='js/native/dat-gui-0.7.6.min.js'></script>
 <script src='js/native/lodash-4.17.15.min.js'></script>
 <!-- jquery -->
 <script src='js/jquery/3.4.1.min.js'></script>
 <script src='js/jquery/fomantic-ui-2.7.8.min.js'></script>
 <!-- vue -->
 <script src='js/vue/2.6.10.js'></script>
 <script src='js/vue/dat-gui-0.0.1.min.js'></script>
 <script>
   Vue.use(VueDatGui)
</script>
 <script>
   var validate = {
     /*
      * https://stackoverflow.com/questions/41271613/use-regex-to-verify-an-isbn-number
      */
     isIsbn:function(text){
       return /^(?=(?:\D*\d){10}(?:(?:\D*\d){3})?$)[\d-]+$/.test(text)
     },
     /*
      * https://stackoverflow.com/questions/2450641/validating-alphabetic-only-string-in-javascript
      */
     isAlphabet:function(text){
       return /^[a-zA-Z()]*$/.test(text)
     }
   }

   new Vue({
     el:'main',
     data:{
       mode:'pushBook',
       modeDetail:{
         'pushBook':'登録',
         'editBook':'編集',
       },
       modeColor:{
         'pushBook':'blue',
         'editBook':'green'
       },
       edit:{
         timestamp:0
       },
       search:{
         name:'',
         isbn:'',
         size:''
       },
       book:{
         error:'',
         timestamp:'',
         name:'',
         isbn:'',
         size:'',
       },
       books:{

       }
     },
     computed:{
       filteredBooks:function(){
         var self=this
         var result = _.filter(this.books,function(book,i){
           pattern = book.name.indexOf(self.search.name) != -1 &&
                     book.isbn.indexOf(self.search.isbn) != -1 &&
                     book.size == self.search.size
           return pattern
         })
         


         return result
       },
       hasBookError:function(){
         return this.book.error.length > 0
       }
     },
     watch:{
       'book.name':function(newName,oldName){
         this.book.error = validate.isAlphabet(newName) ? '' : '書名はアルファベットのみ入力出来ます'
       },
       'book.isbn':function(newIsbn,oldIsbn){
         this.book.error = validate.isIsbn(newIsbn) ? '' : 'ISBNの形式を確認して下さい'
       },
       books:function(newBooks,oldBooks){
         if(_.keys(newBooks).length == 0){
           this.mode = 'pushBook'
         }
       },
       $data:{
         deep:true,
         handler:_.throttle(function(newValue,oldValue){
           localStorage.setItem(this.$options.name,JSON.stringify(newValue))
         },this.saveActionWait)
      }
     },
     methods:{
       init:function(){
         this.book.name = 'Reversing: Secrets of Reverse Engineering'
         this.book.isbn = '978-0764574818'
         this.book.size = 'folio'
       },
       action:function(){
         this[this.mode]()
       },
       deleteBooks:function(){
         this.mode = 'pushBook'
         this.$set(this,'books',{})
       },
       selectBook:function(timestamp){
         this.book = _.clone(this.books[timestamp],true)
         this.edit.timestamp = timestamp == this.edit.timestamp ? '' : timestamp
         this.mode = timestamp != this.edit.timestamp ? 'pushBook' : 'editBook'
       },
       delBook:function(){
         this.$delete(this.books,this.edit.timestamp)
       },
       editBook:function(){
         this.$set(this.books,this.edit.timestamp,_.clone(this.book,true))
       },
       pushBook:function(){
         var timestamp = new Date().getTime()
         this.book.timestamp = timestamp
         this.$set(this.books,timestamp,_.clone(this.book,true))
       }
     },
     created:function(){
       this.init()
       var self=this
       if(this.$options.name in localStorage){
         _.extend(this.$data,JSON.parse(localStorage.getItem(this.$options.name)))
       }
     },
     mounted:function(){
       this.$refs.focus.$_controller.domElement.children[0].focus()
     }
   })
</script>
 <style>
   @import url('css/dat-gui/light.min.css');
</style>