 <style>
  @import url('/css/fomantic-ui/2.7.8.min.css');
  @import url('/js/native/code-mirror/5.48.4.min.css');
  @import url('/js/native/code-mirror/addon/dialog/dialog.css');
  @import url('/js/native/code-mirror/addon/hint/show-hint.css');
  @import url('/js/native/code-mirror/addon/fold/foldgutter.css');
  @import url('/js/native/code-mirror/addon/display/fullscreen.css');
  @import url('/js/native/code-mirror/addon/scroll/simplescrollbars.css');
  @import url('/js/native/code-mirror/addon/search/matchesonscrollbar.css');

  html,
  body{
    font:12px 'M+2VM+IPAG circle';
  }
  main{
    width:148mm;
    margin:0 auto;
  }
  .ui.grid>.row>.column.article{
    padding-left:2.7em;
  }
  .ui.menu,
  .ui.label,
  .ui.segments{
    border-bottom: 2px solid rgba(34,36,38,.15) !important;
    box-shadow: rgba(16, 36, 94, 0.4) 0 2px 6px 0 !important;
  }
  .ui.popup{
     border:none;
     box-shadow:none;
     padding:0 !important;
     padding-right:0;
   }
   .ui.popup .dg.main .close-button{
     display:none;
   }
   .ui.popup .dg.main{
     width:100% !important;
   }
  nav{
    position: absolute;
    text-align: left;
    width: calc(100% + 1.8em);
    z-index: 9;
    right: 0em;
    top: -1em;
  }
  .ui.grid>.row.controller{
    position:sticky;
    z-index:99;
    top:0;
  }
  .ui.segment.editor{
    padding:0;
  }
  .indexes > .ui.label:nth-of-type(1){
     background-color: #767676;
     border-color: #767676;
   }
   .indexes > .ui.label:nth-of-type(2){
     background-color: #a5673f;
     border-color: #a5673f;
   }
   .indexes > .ui.label:nth-of-type(3){
     background-color: #e03997;
     border-color: #e03997;
   }
   .indexes > .ui.label:nth-of-type(4){
     background-color: #a333c8;
     border-color: #a333c8;
   }
   .indexes > .ui.label:nth-of-type(5){
     background-color: #6435c9;
     border-color: #6435c9;
   }
   .indexes > .ui.label:nth-of-type(6){
     background-color: #2185d0;
     border-color: #2185d0;
   }
   .indexes > .ui.label:nth-of-type(7){
     background-color: #00b5ad;
     border-color: #00b5ad;
   }
   .indexes > .ui.label:nth-of-type(8){
     background-color: #21ba45;
     border-color: #21ba45;
   }
   .indexes > .ui.label:nth-of-type(9){
     background-color: #b5cc18;
     border-color: #b5cc18;
   }
   .indexes > .ui.label:nth-of-type(10){
     background-color: #fbbd08;
     border-color: #fbbd08;
   }
   .indexes > .ui.label:nth-of-type(11){
     background-color: #f2711c;
     border-color: #f2711c;
   }
   .indexes > .ui.label:nth-of-type(12){
     background-color: #db2828;
     border-color: #db2828;
   }
   .indexes > .ui.label.active{
     background-color: white!important;
     border-color: white!important;
     color: black!important;
   }
   .indexes > .ui.label{
     color:white;
   }

   .ui.multiple.search.dropdown>.text>.ui.label>.icon{
     font-size:10px;
   }
   .ui.multiple.search.dropdown>.text{
     margin:0;
   }
   .ui.multiple.search.dropdown>input.search{
     margin: .35238095em 0 .35238095em .64285714em;
     margin-top:.33238095em;
     vertical-align:middle;
   }
   .ui.multiple.dropdown>.label{
     font-size:.85714286rem;
     padding:.5833em .833em;


     margin-bottom:0;
     margin-top:0;

   }
   .ui.selection.dropdown{
     background:transparent;
     vertical-align:top;
     padding-bottom:0;
     min-height:auto;
     padding-top:0;
     border:none;
   }
   .ui.label>.delete.icon {
     display:none;
   }
   .ui.label>.icon{
     margin-right:0;
   }
   .ui.indexes.labels{
     display:inline-block;
   }


</style>
 <body>
   <main>
     <div class='ui grid padded'>
       <div class='row view'>
         <div class='column'>
           
        </div>
      </div>
       <div class='row controller'>
         <div class='column'>
           <div class='ui segments'  v-if='index != null'>
             <div class='ui segment editor'>
               <codemirror v-model='pages[index].content'>
              </codemirror>
            </div>
          </div>
           <div class='ui menu pointing icon'>
             <div ref='window' class='item active'><i class='icon edit'></i></div>
             <div class='ui popup very basic'>
                <div class='ui card'  v-if='index != null'>
                  <!-- リフィル:フォルダ毎にパッケージング -->
                  <!-- youtueのURLを入力すると自動でタグ解析されるとか -->
                  <!-- 2chの記事を入力すると自動で纏めてくれるとか -->
                  <!-- 画像をbase64に変換するとか -->
                  <!-- toolbox -->
                  <!-- 道具箱 -->
                  <dat-gui>
                      <dat-value label="記事選択" v-model="pages[index].classes"></dat-value>
                    </dat-gui>
                 </div>
             </div>
          </div>
        </div>
      </div>

      <div class='row' v-if='index != null'>
          <div class='column article'>
<div class='ui segments'>
              <div :class="['ui','segment',pages[index].classes]">
                  <nav class='ui labels orange'>
                    <div @click='index = null' class='ui pointing below label'>{{index.toString().padStart(5,0)}}</div><indexes @select='edit' @remove='remove(index)' @insert='insert(index)' class='indexes' :article='pages[index].elements'></indexes>
                 </nav>
                  <section v-html='pages[index].content'>
   
                 </section>
               </div>
              </div>

          </div>
        </div>

       <div class='row' v-if='index == null'>
         <div class='column article'>
           <article class='ui segments'>

             <template v-for='(page,i) in pages'>
                <div :class="['ui','segment',page.classes]">
                    <nav class='ui labels'>
                      <div @click='index = i' :class="['ui','pointing','below','label',page.color]">{{i.toString().padStart(5,0)}}</div><div class='ui indexes labels indexes'><div class='ui label' v-for='(tag,name) in page.elements'>{{name}}</div></div>
                   </nav>
                    <section v-html='page.content'>
     
                   </section>
                 </div>



                </template>
          </article>
        </div>
      </div>
    </div>  
  </main>  
</body>
 <script src='/js/native/dat-gui/0.7.6.min.js'></script>
 <script src='/js/vue/plugin/dat-gui/0.0.1.min.js'></script>
 <script src='/js/jquery/3.4.1.min.js'></script>
 <script src='/js/jquery/plugin/fomantic-ui/2.7.8.min.js'></script>
 <script src='/js/vue/2.6.10.min.js'></script>
 <script src='/js/native/code-mirror/5.48.4.js'></script>
 <script src='/js/native/code-mirror/keymap/5.48.4.min.js'></script>
 <script src='/js/native/code-mirror/addon/5.48.4.min.js'></script>
 <script src='/js/native/code-mirror/mode/5.48.4.min.js'></script>
 <script src='/js/vue/plugin/code-mirror/4.0.6.min.js'></script>

 <script id='dropdown' type='text/x-template'>
  <div ref='labels' :class='ui'>
    <input name='labels' type='hidden'>
    <div class='default text'>
      <div class='ui label orange'>
        <i class='icon tags'>
       </i>
     </div>
   </div>
 </div>
</script>

 <script>


Vue.component('indexes',{
     template:'#dropdown',
     props:{
      article:{
         default:null,
         type:Object
       }
     },
     computed:{
       ui:function(){
         return ['ui dropdown selection multiple search labels'].join(' ')
       }
     },
     methods:{
       select:function($dom){
         this.$emit('select',$dom.dataset.value,this.article)
       },
       insert:function(name){
         console.dir(name)
         if (name == "{{date}}")
             name = new Date().getTime()
   
         this.$set(this.article,name,{
           content:''
         })
         this.$emit('insert',name)
       },
       remove:function(name){
         this.$delete(this.article,name)
         this.$emit('remove',name)
       }
     },
     mounted:function(){
       var self = this
       $(this.$refs.labels).dropdown({
         allowAdditions :true,
         onLabelSelect  :self.select,
         onRemove       :self.remove,
         onAdd          :self.insert,
       })

       for(val in this.article){
         $(this.$refs.labels).dropdown('add label',val,val)
       }
     }
   })

   Vue.use(VueDatGui)
   Vue.use(VueCodeMirror,{
      options:{
        scrollbarStyle  : 'simple',
        theme           : 'default',
        mode            : 'htmlmixed',
        firstLineNumber : 1,
        tabSize         : 2,
        indentUnit      : 2,
        matchTags       : {bothTags: true},
        htmlMode        : true,
        autoCloseTags   : true,
        foldGutter      : true,
        lineNumbers     : true,
        lineWrapping    : true,
        extraKeys: {
          'Ctrl-A': 'autocomplete',
          'Ctrl-Q': function(cm){
            cm.foldCode(cm.getCursor())
          },
          'F11': function(cm){
            cm.setOption("fullScreen", !cm.getOption("fullScreen"))
          }
        },
        gutters: [
          'CodeMirror-linenumbers',
          'CodeMirror-foldgutter'
        ]
      }
    })
   new Vue({
     el:'main',
     methods:{
       insert:function(i){
         var len = Object.keys(this.pages[i].elements).length - 1
         var color = this.colors[len]
         if(this.pages[i].color != 'orange'){
           // もし"最初の始まりの色"でなければ次の階層の色についたタグ（グレー）は横方向が虹色になり（幅）、深さは同じ色になる（グレー）
           // 番号に変わりはないが色で幅と深さがわかるようになる

           // 対応として、onLabelSelectされての削除に対応すること
           // 多分配列検索になるだろうが...
           color = this.pages[i].color
         }
         
         this.pages.splice(i+len+1,0,{
           classes:'',
           color:color,
           content:name,
           elements:{

           }
         })
       },
       remove:function(i){
         var len = Object.keys(this.pages[i].elements).length
         // 再帰削除？
         this.pages.splice(i+len+1,1)

       },
       edit:function(){
         
       }
     },
     mounted:function(){
       $(this.$refs.window).popup({
          on:'click',
          closable:false,
          position:'left center',
       })

     },
     created:function(){
       var key = new Date().getTime()
       for(var i=0;i<10;i++){
         this.pages.push({
           classes:'',
           content:'',
           color:'orange',
           elements:{
             
           }
         })
       }
     },
     data:{
      colors:[
      'grey',
      'brown',
      'pink',
      'purple',
      'violet',
      'blue',
      'teal',
      'green',
      'olive',
      'yellow',
      'orange',
      'red'
     ],
       index:null,
       pages:[
         
       ]
     }
   })
</script>
