
 <style>
   @import url('/css/fomantic-ui/2.7.8.min.css');

   html,
   body{
     font:12px 'M+2VM+IPAG circle';
   }
   main{
     padding:1em;
     width:148mm;
     margin:0 auto;
   }
   .up.ui.segment{
     padding:0;
   }
   div#file{
     width:100%;
   }
   input[type="file"] {
    display:none;
   }
   nav{
    position: absolute;
    text-align:right;
    width:calc(100%);
    z-index: 999;
    right: -1em;
    top: -1em;
   }
   .ui.card,
   .ui.label,
   .ui.label.corner,
   .ui.segment{
     box-shadow: rgba(16, 36, 94, 0.4) 0 2px 6px 0;
     border-bottom: 2px solid rgba(34,36,38,.15) !important;
   }
   .ui.segment .ui.label.title{
     position:absolute;
     z-index:999;
     left:-1rem;
     top:+1rem;
   }
   .ui.label>.icon{
    margin-right:0;
   }
   textarea,
   input[type=text]{
     width:100%;
     border:none;
     outline:none;
     box-shadow:none;
     appearance:none;
     background:transparent;
   }


</style>
 <template id='file'>
   <div id='file' @drop='onDrop' @dragover.prevent>
     <nav class='ui labels orange'>
       <div class='ui label' v-if='convertedSize != 0'>
         {{convertedSize}}
      </div>
       <label class='ui label'>
         <i class='icon plus'></i>
         <input @change='onChange' type='file' name='image'>
      </label>
    </nav>
     <div class='ui label orange ribbon  title'>
       {{title}}
    </div>
     <img
      v-if="blobURL != ''"
      class='ui image fluid'
      :src='blobURL'>
  </div>
</template>
 <body>
   <main>
     <div class='ui segment up'>
       <loader :title='title' @uploaded='done'>
      </loader>
    </div>

    <div class="ui card fluid">
      <div class="content">
        <a class="header"><input type='text' v-model='title' v-autosize></a>
        <div class="meta">
          <span class="date">Published in 2019</span>
        </div>
        <div class="description">
          <textarea v-model='description' v-autosize>
         </textarea>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Friends
        </a>
      </div>
    </div>
    



  </main>
</body>
 <script src='/js/vue/2.6.10.min.js'></script>
 <script src='/js/native/filesize/4.1.2.min.js'></script>
 <script src='/js/native/compressor/1.0.5.min.js'></script>
 <script src='/js/native/local-forage/1.7.3.min.js'></script>
 <script src='/js/vue/plugin/auto-size/1.0.2.min.js'></script>

 <script>
   Vue.component('loader',{
     template:'#file',
     props:{
       title:{
         type:String,
         default:'Untitled'
       }
     },
     data:function(){
       return{
        blob:null,
        blobURL:'',
        quality: 0.3,
        convertedSize:0
       }
     },
     created:function(){
       var self = this
       localforage.getItem('cover',function(err,obj){
         if(!obj){
           return
         }
         console.dir(obj)
         obj.blobURL = URL.createObjectURL(obj.blob)
         Object.assign(self.$data,obj)
       })
     },
     watch:{
       'blobURL':{
         handler:function(val){
           localforage.setItem('cover',this.$data)
         }
       }
     },
     methods:{
        set:function(blob){
          this.blob = blob
          this.blobURL = URL.createObjectURL(blob)
          this.convertedSize = filesize(blob.size, {round: 0})
          this.$emit('uploaded',this.blobURL)
        },
        createFile:function(file){
          var self = this

          new Compressor(file, {
          quality: self.quality,
          mimeType: 'image/jpeg',
          success(result) {

            console.dir(result)
            console.dir(typeof result)
            console.dir(URL.createObjectURL(result))
            console.dir(filesize(result.size, {round: 0}))

            self.set(result)
          },
          error(err) {
            console.log(err.message);
          },
        })
       },
       onChange:function(e){
         var files = e.target.files;
         this.createFile(files[0]);
       },
       onDrop:function(e){
         e.stopPropagation();
         e.preventDefault();
         var files = e.dataTransfer.files;
         this.createFile(files[0]);
       }
     }
   })
   
   Vue.use(VueAutoSize)

   new Vue({
     el:'main',
     data:{
       title:'hello',
       description:'sss'
     },
     mounted:function(){

     },
     methods:{
       done:function(src){
         console.dir(src)
       }
     }
   })
</script>