<!doctype html>
 <html>
  <head>

   <title></title>

   <meta charset='utf-8'>
   <meta content='' name='author'>
   <meta content='' name='description'>
   <meta content='' name='application-name'>
   <meta content='telephone=no,address=no,email=no,date=no,url=no' name='format-detection'>
   <meta content='noimageindex,notranslate,nosnippet,noarchive,nofollow,noindex' name='robots'>
   <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>

   <link href='/css/fomantic-ui/2.7.8.min.css' rel='stylesheet' media='screen'>
   <link href='/asset/progressive-web.json' rel='manifest'>
   <link href='/asset/favicon.ico' rel='icon'>

   <style>
     @import url('index.css');
  </style>
 </head>
  <body>
   <main>
     <div class='ui grid padded'>

        <div class='row'>
          <div class='column'>
              <service>
             </service>

              <app since='19/09/09' author='ohtruss'>
             </app>


             <loader v-model='scripts' @completed='onReady'>
              </loader>
            <boot v-if='isReady'>
              </boot>

         </div>
       </div>

        <div class='row'>
          <div class='column'>
            <div ref='menu' class='ui menu pointing icon'>
          
              <div class='item' data-tab='edit'><i class='icon edit'></i></div>
              <div class='right menu'>
                <div class='item' data-tab='application'><i class='icon terminal'></i></div>
             </div>
           </div>
         </div>
       </div>

        <div class='row'>
          <div class='column'>
            <div class='ui tab' data-tab='edit'>

            </div>
            <div class='ui tab' data-tab='application'>
              
  
   



           </div>
         </div>
       </div>

    </div>
  </main> 
 </body>

  <script src='/js/native/core/2.6.9.min.js'></script>
  <script src='/js/native/fetch/3.0.0.min.js'></script>
  <script src='/js/native/system/0.21.6.min.js'></script>
  <script src='/js/native/lodash/4.17.15.min.js'></script>
  <script src='/js/native/modernizr/3.7.1.min.js'></script>
  <script src='/js/native/outdated-browser/2.8.0.min.js'></script>

  <script src='/js/vue/2.6.10.min.js'></script>
  <script src='/js/vue/plugin/loader/1.4.0.min.js'></script>
 
  <script src='/js/jquery/3.4.1.min.js'></script>

  <script src='index.js'></script>

</html>