@font-face{
  font-family:'M+2VM+IPAG circle';
  src:url('/asset/font/ipa/m+2vm+ipag-circle.ttf');
}

html,
body{
  font:12px 'M+2VM+IPAG circle';
}
main{
  width:148mm;
  margin:0 auto;
}
.ui.menu,
.ui.label,
.ui.popup,
.ui.segments{
  border-bottom: 2px solid rgba(34,36,38,.15) !important;
  box-shadow: rgba(16, 36, 94, 0.4) 0 2px 6px 0 !important;
}
.ui.menu .item.input{
  padding:0;
}
.ui.menu .item .ui.calendar input{
  border:none;
  padding-right:1.12em;
  background:transparent;
}



.ui.menu .item .ui.dropdown{
  border:none;
  width:171.78px;
  padding-right:1.12em;
  background:transparent;
}

.ui.menu .item .ui.dropdown .text{
  vertical-align:middle;
}

.create-draft .ui.multiple.search.dropdown>.text>.ui.label>.icon{
  font-size:10px;
}
.create-draft .ui.multiple.search.dropdown>input.search{
  vertical-align:middle;
}
.create-draft .ui.multiple.search.dropdown>.text{
  margin:0;
}
.create-draft .ui.multiple.dropdown>.label{
  font-size:.85714286rem;
  padding:.5833em .833em;
  margin-bottom:0;
  margin-top:0;
}
.create-draft .ui.label>.delete.icon {
  display:none;
}
.create-draft .ui.selection.dropdown{
  background:transparent;
  vertical-align:top;
  padding-bottom:0;
  min-height:auto;
  padding-top:0;
  border:none;
  width:100%;
}
.create-draft  .ui.selection.active.dropdown .menu{
  border:none;
}
.create-draft .ui.label>.icon{
  margin-right:0;
}
.create-draft .ui.label:nth-of-type(1){
  background-color: #767676;
  border-color: #767676;
}
.create-draft .ui.label:nth-of-type(2){
  background-color: #a5673f;
  border-color: #a5673f;
}
.create-draft .ui.label:nth-of-type(3){
  background-color: #e03997;
  border-color: #e03997;
}
.create-draft .ui.label:nth-of-type(4){
  background-color: #a333c8;
  border-color: #a333c8;
}
.create-draft .ui.label:nth-of-type(5){
  background-color: #6435c9;
  border-color: #6435c9;
}
.create-draft .ui.label:nth-of-type(6){
  background-color: #2185d0;
  border-color: #2185d0;
}
.create-draft .ui.label:nth-of-type(7){
  background-color: #00b5ad;
  border-color: #00b5ad;
}
.create-draft .ui.label:nth-of-type(8){
  background-color: #21ba45;
  border-color: #21ba45;
}
.create-draft .ui.label:nth-of-type(9){
  background-color: #b5cc18;
  border-color: #b5cc18;
}
.create-draft .ui.label:nth-of-type(10){
  background-color: #fbbd08;
  border-color: #fbbd08;
}
.create-draft .ui.label:nth-of-type(11){
  background-color: #f2711c;
  border-color: #f2711c;
}
.create-draft .ui.label:nth-of-type(12){
  background-color: #db2828;
  border-color: #db2828;
}
.create-draft .ui.label.active{
  background-color: white!important;
  border-color: white!important;
  color: black!important;
}
.create-draft .ui.label{
  color:white;
}
.CodeMirror{
  font-family:'M+2VM+IPAG circle';
  background:transparent;
  height:315px;
}
.ui.editor.segment{
  padding:0.7em;
}
.ui.label>.icon{
  margin-right:0;
}



article > header.ui.labels{
  position:absolute;
  text-align:left;
  left:-1.7em;
  width:100%;
  z-index:9;
  top:-1em;
}


.ui.grid .row:nth-child(1){
  z-index:999;
}

header.ui.segment video{
  width:100%;
}